@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800&family=Pushster&display=swap');
*{
    margin: 0;
    padding: 0;
}

mark{
    background-color:rgba(0,0,0,0.7);
    color: rgb(250,250,250);
    font-family: Montserrat;
    font-weight: 300;
}

.container{
    background:url(ps193.jpg);
    height: 100vh;
    background-size: 100% 100%;
} 
.container .navbar{
    width: 100%;
    height: 60px;
    background: rgba(4, 69, 7, 0.6)
}

.navbar .logo{
    display:inline-block;
    margin-left: 10px;
    margin-top: 18px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 20px;
    font-family: Montserrat;
    color: white;
    font-weight: 500;
}

.navbar ul{
    float:right;
    margin-right: 20px;
    margin-top: -10px;
}

.navbar ul li{
    list-style:none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 3px;
    font-family: Montserrat;
    font-weight: 300;
    transition: 0.5s;
}


.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgba(0,0,0);
    border-radius: 10px;
}

h1{
    font-size: 40px;
    text-align: center;
    margin: 40px 0;
    
}
.gallery {
  width: 790px;
  margin: 0 auto;
  padding: 5px;
  background: transparent;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    transition: .2s transform;
    transform: translateZ(0);
}

.gallery > div:hover > img {
  transform: scale(1.8,1.8);
  transition: .2s transform;
}

.gallery > div:hover {
  z-index: 1;
}

